@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --primary: rgb(63 63 70);
}

* {
  font-weight: 300;
  letter-spacing: 0.05em;
  color: var(--primary);
}

a:hover {
  color: rgb(24 24 27);
}
/* Scrolling */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

.toggle {
  width: 30px;
  height: 30px;
  background: url("menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  display: none;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 5rem;
  display: flex;
  align-items: center;
}

.welcome {
  height: 100vh;
  width: 100vw;
  background-image: url("welcome.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  display: flex;
  align-items: center;
}

.welcome h1 {
  font-size: 36pt;
  text-align: center;
  font-weight: 500;
}

.welcome h2 {
  font-size: 24pt;
  color: #fff;
  text-align: center;
}

.downarrow {
  position: absolute;
  bottom: 3rem;
  left: 27%;
}

.features {
  background-image: url("features.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: top;
}

.phoneimg {
  position: absolute;
  right: 37%;
}

.desktopimg {
  position: absolute;
  right: 5%;
}

.auth {
  background-image: url("auth.jpeg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.siteTitle {
  font-size: x-large;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.mobileArtDescription {
  display: none;
}

.dropdown {
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 100vw;
  /* border-bottom: rgb(39 39 42) 1px solid; */
  min-height: 50vh;
  transition: ease-in-out 0.5s;
}

.dropdown ul {
  margin: 2rem 15rem 2rem 2rem;
}

.dropdown li {
  padding: 0.5rem;
  opacity: 0;
  animation-name: fadein;
  animation-delay: 0.5s;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pageTitle {
  font-size: large;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.aboutImg {
  display: flex;
  max-width: 24rem;
}

/* .h-80vh {
  min-height: 80vh;
} */

.h-90vh {
  min-height: 92vh;
}

.subHeader {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.social img {
  width: 2rem;
  height: auto;
  margin: 0.5rem 0.3rem 0 0;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 70%;
  min-height: 70%;
  background-color: #fff;
  padding: 1rem;
}

.modal-header,
.modal-footer {
  margin: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 4rem;
  display: flex;
  align-items: center;
  background-color: red;
}
.modal-footer button {
  border: none;
  text-transform: uppercase;
  height: 3vh;
  color: white;
  background-color: rgb(2, 17, 46);
  transition: 0.3s;
  border: 2px solid transparent;
}

.modal-footer button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(2, 17, 46);
  transition: 0.3s;
  border: 2px solid rgb(2, 17, 46);
}

.snapshot {
  overflow: auto;
  border: 1px rgb(240, 238, 238) solid;
  border-radius: 1%;
  background-color: #fff;
  height: 100%;
}

.pill {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-width: 1px;
  border-radius: 9999px;
  border-color: black;
}

.pill:hover {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-width: 1px;
  border-radius: 9999px;
  border-color: black;
  background-color: black;
  color: white;
}

.pillDark {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 9999px;
  background-color: black;
  color: white;
}

.contact input,
textarea {
  outline-width: 1px;
  outline-color: #ccc;
  outline-style: solid;
  display: block;
  margin: 0.2rem 0 1rem 0;
  color: #333;
  padding: 0.1rem;
  font-weight: 300;
}

.contact label {
  font-weight: 500;
}

.workModal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.workModalHeader {
  width: 100vw;
  height: 4rem;
  display: none;
}
.workModalClose {
  top: 1rem;
  right: 2rem;
  position: absolute;
}

.workModalBody {
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 100%;
}

.workModalImgContainer {
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workModalImgContainer img {
  object-fit: contain;
  max-height: 100%;
}

.workModalTextContainer {
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  min-height: 50vh;
  display: flex;
  padding: 5rem;
}

.footer ul {
  padding-right: 4rem;
}

.footer li {
  padding-bottom: 1rem;
}

.aboutText textarea {
  overflow-y: visible;
  border: none;
  outline: none;
}
.aboutText:focus {
  outline: none;
  border: none;
}
.aboutImage {
  max-height: 495px;
}
.nav {
  display: flex;
}

.fade-in {
  animation: fadeIn ease-in-out 0.4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-down {
  animation: fadeDown 1.2s ease-in-out 0.2s;
  animation-fill-mode: forwards;
}
@keyframes fadeDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-left {
  animation: fadeLeft 0.8s ease-in-out 0.2s;
  animation-fill-mode: forwards;
}
@keyframes fadeLeft {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.drop-down {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.drop-down-up {
  animation: growUp 300ms ease-in-out forwards;
  transform-origin: top center;
  animation-delay: 0.2s;
}

.drop-down-up li {
  animation-name: fadeout;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes growUp {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}

@media (max-width: 638px) {
  .mobileArtDescription {
    display: block;
  }
}

@media (max-width: 768px) {
  .welcome {
    background-size: auto;
    padding: 2rem;
  }

  .toggle {
    display: block;
  }
  .nav {
    display: none;
  }

  .phoneimg {
    right: auto;
    position: relative;
  }
  .desktopimg {
    right: auto;
    position: relative;
  }
  .container {
    padding: 2rem;
  }

  .workModalHeader {
    display: block;
  }

  .workModalBody {
    flex-direction: column;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .workModalImgContainer {
    width: 100%;
    max-height: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .workModalImgContainer img {
    min-height: 25rem;
    object-fit: contain;
    margin: 0rem;
  }
  .workModalTextContainer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2rem;
  }

  .workModalContainer ul {
    padding-left: 4rem;
  }

  .workModalContainer li {
    margin-bottom: 0rem;
    padding: 0rem;
  }
  .footer {
    padding: 2rem;
  }
}
