@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.siteTitle {
  font-size: x-large;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.onView {
  font-size: x-large;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.1em;
}
.h-90vh {
  min-height: 90vh;
}
.subHeader {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 50%;
  min-height: 50%;
  background-color: #fff;
}

.modal-header,
.modal-footer {
  margin: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.modal-footer button {
  border: none;
  text-transform: uppercase;
  height: 3vh;
  color: white;
  background-color: rgb(2, 17, 46);
  transition: 0.3s;
  border: 2px solid transparent;
}

.modal-footer button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(2, 17, 46);
  transition: 0.3s;
  border: 2px solid rgb(2, 17, 46);
}

.snapshot {
  height: 32rem;
  overflow: scroll;
  scrollbar-width: 0;
}

.pill {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-width: 1px;
  border-radius: 9999px;
  border-color: black;
}

.pill:hover {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-width: 1px;
  border-radius: 9999px;
  border-color: black;
  background-color: black;
  color: white;
}

.pillDark {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 9999px;
  background-color: black;
  color: white;
}
/* 
input {
  outline-width: 2px;
  outline-style: hidden;
}

input:focus {
  outline: none;
} */

.workModal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  position: fixed;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.workModalHeader {
  top: 2rem;
  right: 4rem;
  position: absolute;
}

.workModalBody {
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 100%;
}

.workModalImgContainer {
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workModalImgContainer img {
  object-fit: contain;
}

.workModalTextContainer {
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 50vh;
  display: flex;
  padding: 5rem;
}

.footer ul {
  padding-right: 4rem;
}

.footer li {
  padding-bottom: 2rem;
}

.aboutText {
  height: auto;
  border: none;
  outline: none;
}
.aboutText:focus {
  outline-style: hidden;
}

@media (max-width: 768px) {
  .workModalBody {
    flex-direction: column;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 2rem;
  }

  .workModalImgContainer {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .workModalImgContainer img {
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 25rem;
    object-fit: contain;
    margin: 0rem;
  }
  .workModalTextContainer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2rem;
  }

  .workModalContainer ul {
    padding-left: 4rem;
  }

  .workModalContainer ul {
  }
  .workModalContainer li {
    margin-bottom: 0rem;
    padding: 0rem;
  }
}
